#titulo {
    color: #129999 ;
  }
  .padre1{
  border: 3px solid lightcoral;
  display: flex
  backgroundred;

  }

  body {
    margin: 0;
    padding: 0;
    background-image: url(https://st3.depositphotos.com/4930557/14203/v/1600/depositphotos_142032730-stock-illustration-buenos-aires-cityscape-with-obelisk.jpg);
    background-size:  100% 112%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
padding: 10vw
  }

  .ingredientes {
    color: blue;
  }

  .instrucciones {
    color:#F39C12
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .item {
    width: 200px;  <h2 class="telefonos">veras esto si estas en telefono</h2>
    <h2 class="computadora">veras esto si estas en computadora</h2>
    height: 200px;
    background-color: #f2f2f2;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }




  p {
    border: none;
    font-weight: bold;
  }

  p.e1 {
    margin: 30px;
    border: none;
  }

  p.e2 {
    margin: 20px;
    border: none;
  }

  .container1{
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

  .pelado1{
  border: 5px solid blue;
  padding: 100px;
  font-size: 20px;
  background-color: blue }

  .informacion1{
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  .padre1{
  border: 1px solid blue;
  padding: 100px;
  font-size: 20px;
  }



   .contenedor{
     max-width: 800px;
     margin: 0 auto;
     display: flex;
     border: solid #999;
   }
   .contenedor2{
     max-width: 800px;
     margin: 0 auto;
     display: flex;
     border: solid #999;
     font-size: 1rem
   }
   .izquierda2{
     display: flex;
     align-items: center;
     font-size: 1rem;

}
   }

   .izquierda{
  border: 1px solid blue;
  padding: 100px;
  font-size: 40px;
  flex: 1;
  margin-right: 20px;
  background-color: powderblue;
  flex-direction: column;
}

   .derecha{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-right: 20px;
     font-size: 40px;
   }

   .redes {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 20px;
     font-size: 40px;
   }

   .foto {
     width: 50%;
     height: 50%;
     margin: 1px 40%;
   }

  .caja_mapa_padre{
  display: flex;
}
.caja_mapa_hijo{
   flex-wrap: wrap;
  width: 50%;
  height: 50%;
}
     margin: 0px 40%;
   }
   .foto2 {
     width: 20%;
     height: 20%;
     margin: 0px 40%;
   }

   .centrar {
     text-align: right;


   }

  .calle, .center, .redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

  }
  h3{
    font-size: 4rem;
  }
  .caja_mapa_padre{
  display: flex;
}
.caja_mapa_hijo{
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
}


  @media (max-width: 700px) {
    .computadora {
      display: none
    }
  }

@media  (min-width: 700px) {
  .telefonos {
    display: none;
  }
}



.cartas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.card{
  width: 350px;
  height: 450px;
  border: solid #999;

}

.imagenes{
  width: 344px ;
  height:100px;
}

.receta {
  display: flex; /* Utilizamos flexbox para crear el diseño de dos columnas */
}

.ingredientes {
  flex: 1; /* El primer elemento (ingredientes) ocupará 1/2 del ancho */
  padding: 10px;
  border-right: 1px solid #ccc; /* Agregamos un borde derecho para separar las columnas */
  border: 1px solid black
}

.preparacion {
  flex: 1; /* El segundo elemento (preparación) ocupará 1/2 del ancho */
  padding: 10px;
}
.imagenes2{
  width: 300px ;
  height:300px
}



.pelado2{
  border: 1px solid black;
}

.camion{
border: 1px solid black;
}


.pelado3{
  border: 2px solid black;
}

.track1{
  color:  #e8790f;
}

.track2{
  color: green;
}

.track3{
  color: blue;
}

.track4{
  color: red;
  width: 10%;
  height:10%;
}

.centrar2 {
  text-align: right;
  width: 30px;
height:30px;
}
